:root{
    --vermelho: #E50914;
    --preto:  #141414; 
}

*{/*Toda página, todos os elementos da página*/
    /*Reset para valores default*/
    margin: 0;
    padding: 0;
    box-sizing: border-box;/*Espreme os elementos dentro dos espaços disponíveis*/
}

body{
    background: var(--preto);
    font-family: 'Arial', Times, serif;
    color: white;
}

/*O container tem dentro dele o Logotipo e o menu de navegação*/
header .container{
    border: 1px solid black;
    display: flex;/*Joga todos os elementos em linha*/
    flex-direction: row; /*Só a linha anterior já bastava, ao utilizar "display: flex" o navegador já dispõe em formato de linha o layout dos elementos*/
    align-items: center;
    justify-content: space-between;
}

header .container .logotipo{
    color: var(--vermelho);
    font-family: 'Arial Black', Times;
    font-size: 40px;
    margin-left: 5px;
}

header nav a {
    text-decoration: none;
    color: #AAA;
    margin-right: 10px;
}

header nav a:hover{
    color: #fff;
    transition: .3s; /*Tempo da transição*/
}

/*Filme principal*/
.container{
    margin-left: 30px;
    width: 70%;
}
main .filme-principal{
    font-size: 16px;
    background: linear-gradient(rgba(0,0,0,.50), rgba(0, 0, 0, 0.5) 100%), url('/img/capa-house.jpg');
    height: 400px;/*Altura*/
    background-size: cover; /*Área de corbertura da caixa*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.filme-principal .descricao{
    margin-top: 10px;
    margin-bottom: 40px;
}

.filme-principal .titulo{
    margin-top: 15%;
    font-size: 40px;
}

.botao{
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    color: white;
    padding: 15px; /*o VALORES são em formato horário: cima, direita, baixo e esquerda*/
    margin-right: 15px;
    font-size: 12px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    cursor: pointer;
    transition: .3s; /*Tempo da transição*/
}

.botoes .botao:hover{
    background-color:white;
    color: black
}

.botao i{
    margin-right: 5px;
}

.box-filme{
    height: 100%;
    width: 100%;
    display: block;
}

.carrosel-filmes{
    margin-top: 5px;
}

.filme-secundario{
    font-size: 16px;
    background: linear-gradient(rgba(0,0,0,.50), rgba(0, 0, 0, 0.5) 100%), url('/img/capa-house.jpg');
    height: 400px;/*Altura*/
    background-size: cover; /*Área de corbertura da caixa*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}